<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
   <style>
        body {
            font-family: Tahoma, Arial, Verdana, sans-serif;
            font-size: 13px;
            color: #000000;
        }
    </style>
<body>
  <center>
    <h2>Welcome, <%= user.username %></h2>

    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" required />
      <button type="submit">Upload</button>
    </form>
    <form action="/logout" method="GET">
      <button type="submit">Logout</button>
    </form>
    <h3>Your Files</h3>
    <table border="1">
      <tr>
        <th>File Name</th>
        <th>Uploaded At</th>
        <th>Actions</th>
      </tr>
      <% files.forEach(file => { %>
        <tr>
          <td><%= file.originalname %></td>
          <td><%= new Date(file.uploaded_at).toLocaleString() %></td>
          <td>
            <a href="/download/<%= file.filename %>">Download</a>
            <form method="POST" action="/delete/<%= file.id %>" style="display:inline;">
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </table>

  </center>
</body>
</html>
